---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.jsx";
import Banner from "../components/Banner.astro";
import NextButton from "../components/NextButton.astro";

import { vinos } from "../lib/data";
---

<Layout title="Fine-Wine">
  <section class="grid grid-cols-2">
    <Aside />
    <Banner />
  </section>
  <NextButton />
</Layout>

<style></style>
