---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import Aside from "../components/Aside.astro";
import Banner from "../components/Banner.astro";
import NextButton from "../components/NextButton.astro";
---

<Layout title="Fine-Wine">
  <section class="grid grid-cols-2">
    <Aside />
    <Banner />
    <NextButton />
  </section>
</Layout>

<style></style>
